<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"></properties>
<!--    取别名-->
    <typeAliases>
<!--        <typeAlias type="com.seehope.entity.Student" alias="Student"></typeAlias>-->
<!--        <typeAlias type="com.seehope.entity.Classes" alias="Classes"></typeAlias>-->
<!--        <typeAlias type="com.seehope.entity.Course" alias="Course"></typeAlias>-->
        <package name="com.seehope.entity"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
<!--            设置数据库类型 Oracle,Mysql,MariaDb,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="com\seehope\dao\StudentMapper.xml"/>-->
<!--        <mapper resource="com\seehope\dao\ClassesMapper.xml"/>-->
        <package name="com.seehope.mapper"/>
    </mappers>
</configuration>