#loginArea .login{color: red;}
#loginArea .register{color: red;}
#loginArea .login:hover{color: red;}
#loginArea .register:hover{color: red;}
#webTool>ul>li{margin-right: 25px}
#hotWord a{color: #999;margin-left: 25px}
#hotWord a:hover{color: red}
#category_specil a{font-size:19px;font-family:"Microsoft YaHei UI";color:#333333;display: block;padding:5px 20px;}
#category_specil a:hover{text-decoration: none;color: red}